html{
overflow: hidden;
    position: absolute;
    background-color:#B72BD6 !important;
    background-image: url("../images/bg-webisodes-main.png") !important;
    background-position: left !important;
    margin:0%;
    height: 100%;
    width: 100%;    
}

body{
    position: absolute;
    background: transparent !important;
    margin: 0%;
    top:50%;
    transform: translate(0%,-50%);
    width: 100%;
}
.videoSection{ 
    margin-top: 0%;
}


.container{
    margin-top:0%; 
}

.videolist{
    overflow-x: scroll;
    display: flex;
    justify-content:space-between;
}

video{
    margin-top: 1vh;
}

.videolist img{
    width: 100%;
    padding: 0vh;
}

.lock{
    opacity: 0.5;
}
